@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* الخلفية العامة للصفحة */
body {
  background: #F4F4F4; /* نفس لون السيكشن */
  color: #1a1a1a;
}

html {
  scroll-behavior: smooth;
}
